@import 'color';
@import 'mixin';

//global
input,
textarea {
  margin-bottom: 0 !important;
  border: 1px solid $C-DEDEDE;
  border-radius: p(5px);
}

input {
  padding-left: 7px;

  &:focus {
    outline: none;
  }
}

textarea {
  padding: p(10px) 7px;
  resize: none;
  border-radius: p(5px);
  border: 1px solid $C-DEDEDE;

  &::placeholder {
    color: $C-DEDEDE;
  }

  &:focus {
    outline: none;
  }
}

button {
  outline: none;
  border: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $C-086B5E;

  &:hover {
    color: $C-086B5E;
  }
}

.cropper-view-box,
.cropper-face,
.avatar-preview {
  border-radius: 50%;
}

//ul
.none-style-list {
  margin: 0;
  list-style: none;
}

//flex

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

//decoration
.pointer {
  cursor: pointer;
}

.underline {
  &:hover {
    text-decoration: underline;
  }
}

//float
.right {
  float: right;
}

//color
.C-D80643 {
  color: $C-D80643 !important;
}

.C-FA9B03 {
  color: $C-FA9B03 !important;
}

.C-D40A43 {
  color: $C-D40A43 !important;
}

.C-FA9B02 {
  color: $C-FA9B02 !important;
}

.C-333 {
  color: $C-333 !important;
}

.C-999 {
  color: $C-999 !important;
}

.C-666 {
  color: $C-666 !important;
}

.C-FFF {
  color: $C-FFF !important;
}

//align
.just-center {
  justify-content: center;
}

.block {
  display: block;
}

.inblock {
  display: inline-block;
}

.width-half {
  // width: 49%;
  flex: 1;
}

//width
.width170 {
  width: p(170px);
}

//背景颜色
.bg-ground {
  background: $C-F7F7F7 !important;
}

.bg-FFF {
  background: $C-FFF !important;
}

.bg-F8DB3B {
  background-color: #F8DB3B !important;
}

.bg-00C1A4 {
  background-color: #00C1A4 !important;
}

//align
.center {
  text-align: center;
}

.f50 {
  font-size: p(50px) !important;
}

.f24 {
  font-size: p(24px) !important;
}

.f22 {
  font-size: p(22px) !important;
}

.f20 {
  font-size: p(20px) !important;
}

.f18 {
  font-size: p(18px) !important;
}

.f16 {
  font-size: p(16px) !important;
}

.f15 {
  font-size: p(15px) !important;
}

.f14 {
  font-size: p(14px) !important;
}

.f12 {
  font-size: p(12px) !important;
}

.f10 {
  font-size: p(10px) !important;
}

.mt1 {
  margin-top: p(1px) !important;
}

.mt2 {
  margin-top: p(2px) !important;
}

.mt3 {
  margin-top: p(3px);
}

.mt4 {
  margin-top: p(4px);
}

.mt5 {
  margin-top: p(5px);
}

.mt6 {
  margin-top: p(6px);
}

.mt7 {
  margin-top: p(7px);
}

.mt8 {
  margin-top: p(8px);
}

.mt9 {
  margin-top: p(9px);
}

.mt10 {
  margin-top: p(10px);
}

.mt11 {
  margin-top: p(11px);
}

.mt12 {
  margin-top: p(12px);
}

.mt13 {
  margin-top: p(13px);
}

.mt14 {
  margin-top: p(14px);
}

.mt15 {
  margin-top: p(15px);
}

.mt16 {
  margin-top: p(16px);
}

.mt17 {
  margin-top: p(17px);
}

.mt18 {
  margin-top: p(18px);
}

.mt19 {
  margin-top: p(19px);
}

.mt20 {
  margin-top: p(20px);
}

.mt25 {
  margin-top: p(25px);
}

.mt30 {
  margin-top: p(30px);
}

.mt35 {
  margin-top: p(35px);
}

.mt40 {
  margin-top: p(40px);
}

.mt45 {
  margin-top: p(45px);
}

.mt50 {
  margin-top: p(50px);
}

.mt60 {
  margin-top: p(60px);
}

.mt70 {
  margin-top: p(70px);
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: p(5px);
}

.ml8 {
  margin-left: p(8px);
}

.ml10 {
  margin-left: p(10px);
}

.ml14 {
  margin-left: p(14px);
}

.ml15 {
  margin-left: p(15px);
}

.ml20 {
  margin-left: p(20px);
}

.ml25 {
  margin-left: p(25px);
}

.ml30 {
  margin-left: p(30px);
}

.ml40 {
  margin-left: p(40px);
}

.ml50 {
  margin-left: p(50px);
}

.ml60 {
  margin-left: p(60px);
}

.ml85 {
  margin-left: p(70px);
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: p(5px);
}

.mr8 {
  margin-right: p(8px);
}

.mr10 {
  margin-right: p(10px);
}

.mr15 {
  margin-right: p(15px);
}

.mr20 {
  margin-right: p(20px);
}

.mr25 {
  margin-right: p(25px);
}

.mr28 {
  margin-right: p(25px);
}

.mr30 {
  margin-right: p(30px);
}

.mr35 {
  margin-right: p(35px);
}

.mr40 {
  margin-right: p(40px);
}

.mr50 {
  margin-right: p(50px);
}

.mr60 {
  margin-right: p(60px);
}

.padding5 {
  padding: p(5px);
}

.padding10 {
  padding: p(10px);
}

.padding15 {
  padding: p(15px);
}

.padding17 {
  padding: p(17px);
}

.padding20 {
  padding: p(20px);
}

.padding25 {
  padding: p(25px);
}

.padding30 {
  padding: p(30px);
}

.padding35 {
  padding: p(35px);
}

.padding40 {
  padding: p(40px);
}

//padding-top
.pt5 {
  padding-top: p(5px);
}

.pt10 {
  padding-top: p(10px);
}

.pt15 {
  padding-top: p(15px);
}

.pt20 {
  padding-top: p(20px);
}

.pt25 {
  padding-top: p(25px);
}

.pt30 {
  padding-top: p(30px);
}

.pt90 {
  padding-top: p(90px);
}

//padding-bottom
.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: p(5px);
}

.pb10 {
  padding-bottom: p(10px);
}

.pb15 {
  padding-bottom: p(15px);
}

.pb20 {
  padding-bottom: p(20px);
}

.pb25 {
  padding-bottom: p(25px);
}

.pb30 {
  padding-bottom: p(30px);
}

.pb110 {
  padding-bottom: p(110px) !important;
}


//padding-right
.pr5 {
  padding-right: p(5px);
}

.pr10 {
  padding-right: p(10px);
}

.pr15 {
  padding-right: p(15px);
}

.pr20 {
  padding-right: p(20px);
}

.pr25 {
  padding-right: p(25px);
}

.pr30 {
  padding-right: p(30px);
}

//padding-left
.pl0 {
  padding-left: p(0px) !important;
}

.pl5 {
  padding-left: p(5px);
}

.pl10 {
  padding-left: p(10px);
}

.pl15 {
  padding-left: p(15px);
}

.pl20 {
  padding-left: p(20px);
}

.pl25 {
  padding-left: p(25px);
}

.pl30 {
  padding-left: p(30px);
}


//border-radius
.border-radius-1 {
  border-radius: 1px;
}

.border-radius-2 {
  border-radius: p(2px);
}

.border-radius-3 {
  border-radius: p(3px);
}

.border-radius-4 {
  border-radius: p(4px);
}

.border-radius-5 {
  border-radius: p(5px);
}

.border-radius-10 {
  border-radius: p(10px);
}

//margin
//top
.mt0 {
  margin-top: 0 !important;
}

.mt7 {
  margin-top: p(7px);
}

.mt17 {
  margin-top: p(17px);
}

.mt20 {
  margin-top: p(20px);
}

//bottom
.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: p(5px);
}

.mb10 {
  margin-bottom: p(10px);
}

.mb15 {
  margin-bottom: p(15px);
}

.mb17 {
  margin-bottom: p(17px);
}

.mb16 {
  margin-bottom: p(16px);
}

.mb20 {
  margin-bottom: p(20px);
}

.mb25 {
  margin-bottom: p(25px);
}

.mb30 {
  margin-bottom: p(30px);
}

.mb35 {
  margin-bottom: p(35px);
}

.mb40 {
  margin-bottom: p(40px);
}


//padding
.pdb17 {
  padding-bottom: p(17px);
}

.padding-horizon10 {
  padding-left: p(10px) !important;
  padding-right: p(10px) !important;

}

.padding-horizon42 {
  padding-left: p(42px) !important;
  padding-right: p(42px) !important;
}



//image
.img96 {
  width: p(96px);
  height: p(96px);
}

.img40 {
  width: p(40px);
  height: p(40px);
}

.img35 {
  width: p(35px);
  height: p(35px);
}

.img30 {
  width: p(30px);
  height: p(30px);
}

.img25 {
  width: p(25px);
  height: p(25px);
}

.img21 {
  width: p(21px);
  height: p(21px);
}

.img17 {
  width: p(17px);
  height: p(17px);
}

.img18 {
  width: p(18px);
  height: p(18px);
}

//height
// .min-height {
//   min-height: p(1050px);
// }
.h17 {
  height: p(17px);
  line-height: p(17px);
}

.h155 {
  height: p(155px);
}

//important
.no-bottom-border {
  border-bottom: none !important;
}

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}


$font-size: 19.2px;


html {
  // font-size: 19.2px;
  // font-size: 19.20px;
  font-size: 14.40px;
  /*默认以设计稿为基准*/

}

//box-sizing: border-box;
header * {
  box-sizing: border-box;
}

.big-container * {
  box-sizing: border-box;
}

.container-fluid * {
  box-sizing: border-box;
}

body {
  background: $C-F7F7F7;
}

@media only screen and (min-width: 1920px) {
  html {
    // font-size: 19.20px;
  }
}

@media (min-width: 1367px) and (max-width: 1440px) {
  html {
    // font-size: 14.40px;
  }
}

@media (min-width: 1281px) and (max-width: 1366px) {
  html {
    // font-size: 13.66px;
  }
}

// @media (min-width: 1025px) and (max-width: 1280px) {
//   html{
//     font-size:12.80px;
//   }
// }

@media only screen and (max-width: 1280px) {

  // .tutorial{
  //   visibility: hidden;
  // }
  html {
    // font-size: 12.80px;
  }
}




.C-086B5E {
  color: $C-086B5E !important;
}

.C-707070 {
  color: $C-707070 !important;
}

.C-086B5E-hover {
  color: $C-086B5E !important;

  &:hover {
    color: $C-086B5E !important;
    cursor: pointer;
  }
}

.C-FFC05C {
  color: $C-FFC05C !important;
}

.C-006858 {
  color: $C-006858 !important;
}

.C-00A088 {
  color: $C-00A088 !important;
}

.C-00BAA2 {
  color: $C-00BAA2 !important;

}

.C-333 {
  color: $C-333 !important;
}

.C-666 {
  color: $C-666 !important;
}

.C-999 {
  color: $C-999 !important;
}

.C-333 {
  color: $C-333 !important;
}

.C-C18600 {
  color: $C-C18600 !important;
}

.bg-006858 {
  background-color: $C-006858 !important;
}

.bg-C18600 {
  background-color: $C-C18600 !important;
}

.bg-EFF8F7 {
  background-color: $C-EFF8F7 !important;
}

.bg-FFF3B2 {
  background-color: $C-FFF3B2 !important;
}

.bg-00BAA2 {
  background-color: $C-00BAA2 !important;
}

.bg-E0F2F1 {
  background-color: $C-E0F2F1 !important;
}

// @media only screen and (max-width: 1200px) {

//   .tutorial{
//     visibility: hidden;
//   }
// }



/* ============================================================
   flex：定义布局为盒模型
   flex-v：盒模型垂直布局
   flex-1：子元素占据剩余的空间
   flex-align-center：子元素垂直居中
   flex-pack-center：子元素水平居中
   flex-pack-justify：子元素两端对齐
   兼容性：ios 4+、android 2.3+、winphone8+、IE10+、Safari、Opera、Chrome、Firefox
   ============================================================ */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: -moz-flex;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-pack-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

//icon
.state-pass {
  color: #FA9B03;

  &:before {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(30px);
    height: p(30px);
    margin-right: p(5px);
    vertical-align: bottom;
    background: url(../icon/pass.png);
    background-size: p(30px) p(30px);
  }
}

.prize-empty {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(25px);
    height: p(31.35px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/prize-empty.svg);
    background-size: p(25px) p(31.35px);
  }
}

.prize-steel {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(25px);
    height: p(31.35px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/prize-steel.png);
    background-size: p(25px) p(31.35px);
  }
}

.prize-steel-big {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(50px);
    height: p(62.50px);
    margin-left: p(7.5px);
    margin-right: p(7.5px);
    vertical-align: middle;
    background: url(../icon/prize-steel.png);
    background-size: p(50px) p(62.50px);
  }

  &.unselected {
    &:after {
      background: url(../icon/prize-steel-unselected.png);
      cursor: pointer;
      content: '';
      display: inline-block;
      width: p(50px);
      height: p(62.50px);
      margin-left: p(7.5px);
      margin-right: p(7.5px);
      vertical-align: middle;
      background-size: p(50px) p(62.50px);
      opacity: .4;
    }
  }
}


.prize-iron {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(25px);
    height: p(31.35px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/prize-iron.png);
    background-size: p(25px) p(31.35px);
  }
}

.prize-iron-big {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(50px);
    height: p(62.50px);
    margin-left: p(7.5px);
    margin-right: p(7.5px);
    vertical-align: middle;
    background: url(../icon/prize-iron.png);
    background-size: p(50px) p(62.50px);
  }

  &.unselected {
    &:after {
      background: url(../icon/prize-iron-unselected.png);
      cursor: pointer;
      content: '';
      display: inline-block;
      width: p(50px);
      height: p(62.50px);
      margin-left: p(7.5px);
      margin-right: p(7.5px);
      vertical-align: middle;
      background-size: p(50px) p(62.50px);
      opacity: .4;
    }
  }
}

.prize-sliver {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(25px);
    height: p(31.35px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/prize-sliver.png);
    background-size: p(25px) p(31.35px);
  }
}

.prize-sliver-big {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(50px);
    height: p(62.50px);
    margin-left: p(7.5px);
    margin-right: p(7.5px);
    vertical-align: middle;
    background: url(../icon/prize-sliver.png);
    background-size: p(50px) p(62.50px);
  }

  &.unselected {
    &:after {
      background: url(../icon/prize-sliver-unselected.png);
      opacity: .4;
      cursor: pointer;
      content: '';
      display: inline-block;
      width: p(50px);
      height: p(62.50px);
      margin-left: p(7.5px);
      margin-right: p(7.5px);
      vertical-align: middle;
      background-size: p(50px) p(62.50px);
    }
  }
}

.prize-gold {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(25px);
    height: p(31.35px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/prize-gold.png);
    background-size: p(25px) p(31.35px);
  }
}

.prize-gold-big {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(50px);
    height: p(62.50px);
    margin-left: p(7.5px);
    margin-right: p(7.5px);
    vertical-align: middle;
    background: url(../icon/prize-gold.png);
    background-size: p(50px) p(62.50px);
  }

  &.unselected {
    &:after {
      background: url(../icon/prize-gold-unselected.png);
      opacity: .4;
      cursor: pointer;
      content: '';
      display: inline-block;
      width: p(50px);
      height: p(62.50px);
      margin-left: p(7.5px);
      margin-right: p(7.5px);
      vertical-align: middle;
      background-size: p(50px) p(62.50px);
    }
  }
}

.arrow-up {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(20px);
    height: p(27px);
    line-height: p(18px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/arrow-up.svg);
    background-size: p(20px) p(27px);
  }
}

.arrow-down {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(20px);
    height: p(27px);
    line-height: p(18px);
    margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/arrow-down.svg);
    background-size: p(20px) p(27px);
    margin-left: 2px;
  }
}

// .sort-updown {
//   &:after {
//     cursor: pointer;
//     content: '';
//     display: inline-block;
//     width: p(12px);
//     height: p(16px);
//     line-height: p(18px);
//     margin-top: p(4px);
//     vertical-align: top;
//     background:  url(../icon/sort-down.svg), url(../icon/sort-up.svg);
//     background-size: p(12px) p(25px);
//     background-repeat: no-repeat, no-repeat;
//     background-position: top, bottom;
//   }
// }
.sort-updown {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(12px);
    height: p(18px);
    line-height: p(18px);
    margin-top: p(4px);
    vertical-align: top;
    background: url(../icon/sort-updown.svg);
    background-size: p(12px) p(18px);
    background-repeat: no-repeat;
  }
}

.sort-up {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(12px);
    height: p(8px);
    line-height: p(18px);
    margin-top: 5px;
    vertical-align: top;
    background: url(../icon/sort-up.svg);
    background-size: p(12px) p(8px);
  }
}

.sort-down {
  &:after {
    cursor: pointer;
    content: '';
    display: inline-block;
    width: p(12px);
    height: p(8px);
    line-height: p(18px);
    // margin-left: p(5px);
    vertical-align: middle;
    background: url(../icon/sort-down.svg);
    background-size: p(12px) p(8px);
  }
}

.star-grey {
  display: inline-block;
  width: p(25px);
  height: p(25px);
  margin-right: p(15px);
  background: url(../icon/star-grey.svg);
  background-size: p(25px) p(25px);
}

.star-grey-big {
  cursor: pointer;
  display: inline-block;
  width: p(38px);
  height: p(38px);
  margin-right: p(30px);
  background: url(../icon/star-grey.svg);
  background-size: p(38px) p(38px);
}

.star-light {
  display: inline-block;
  width: p(25px);
  height: p(25px);
  margin-right: p(15px);
  background: url(../icon/star-light.svg);
  background-size: p(25px) p(25px);
}

.star-light-big {
  cursor: pointer;
  display: inline-block;
  width: p(38px);
  height: p(38px);
  margin-right: p(30px);
  background: url(../icon/star-light.svg);
  background-size: p(38px) p(38px);
}

.icon-warn {
  cursor: pointer;
  display: inline-block;
  width: p(22px);
  height: p(22px);
  margin-left: p(10px);
  background: url(../icon/warn.svg);
  background-size: p(22px) p(22px);
}

.new-version {
  &:after {
    content: '新版本';
    line-height: p(20px);
    vertical-align: middle;
    margin-left: p(5px);
    display: inline-block;
    font-size: p(12px);
    color: #F7F7F7;
    border-radius: p(5px);
    padding: 1px p(4px);
    background: $C-FA9B03;
  }
}

.type-ppt {
  display: inline-block;
  background: $C-FA9B03;
  border-radius: p(5px);
  font-style: normal;
  margin-left: 5px;
  // line-height: p(20px);
  text-align: center;
  font-size: p(12px);
  padding-left: 5px;
  padding-right: 5px;
  color: $C-F7F7F7;
}

.type-doc {
  display: inline-block;
  background: $C-02CAEF;
  border-radius: p(5px);
  font-style: normal;
  margin-left: 5px;
  text-align: center;
  font-size: p(12px);
  color: $C-F7F7F7;
  padding-left: 5px;
  padding-right: 5px;
}

.type-special {
  display: inline-block;
  background: $C-D80643;
  border-radius: p(5px);
  font-style: normal;
  height: p(20px);
  line-height: p(20px);
  margin-left: p(5px);
  text-align: center;
  font-size: p(12px);
  color: $C-F7F7F7;
  padding: 0 p(5px);
}

//label

.label-box-1 {
  border-radius: p(2px);
  background-color: #EFF8F7;
  color: #00BAA2;
  font-size: p(14px);
  line-height: p(24px);
  // width: p(72px);
  padding: 0 p(10px);
  height: p(24px);
  display: inline-block;
  text-align: center;
  margin-right: p(10px);
}

.label-box-2 {
  border-radius: p(3px);
  background-color: $C-EFF8F7;
  color: $C-00A088;
  font-size: p(16px);
  line-height: p(30px);
  // width: p(72px);
  padding: 0 p(10px);
  height: p(30px);
  display: inline-block;
  text-align: center;
  margin-left: p(10px);
}

.label-box-3 {
  border-radius: p(3px);
  background-color: $C-FFF3B2;
  color: $C-C18600;
  font-size: p(16px);
  line-height: p(30px);
  // width: p(72px);
  padding: 0 p(10px);
  height: p(30px);
  display: inline-block;
  text-align: center;
  margin-left: p(10px);
}

//btn
.btn-00A088-1 {
  color: $C-00A088;
  display: inline-block;
  font-size: p(18px);
  padding-left: p(42px);
  padding-right: p(42px);
  text-align: center;
  line-height: p(46px);
  margin-right: p(28px);
  background-color: $C-FFF;
  border: 1px solid $C-00A088;

  border-radius: p(4px);

  &:hover {
    text-decoration: none;
    // font-weight: bold;
    background-color: darken($C-FFF, 5%);
    color: $C-00A088;
  }

  cursor: pointer;
}


.btn-00A088-2 {
  color: $C-FFF;
  display: inline-block;
  padding-left: p(42px);
  padding-right: p(42px);
  font-size: p(18px);
  text-align: center;
  line-height: p(46px);
  // height: p(46px);
  margin-right: p(28px);
  background-color: $C-00BAA2;
  border: none;
  border: 1px solid $C-00BAA2;
  border-radius: p(4px);

  &:hover {
    text-decoration: none;
    // font-weight: bold;
    background-color: darken($C-00BAA2, 5%);
    border: 1px solid darken($C-00BAA2, 5%);
    color: $C-FFF;
  }

  cursor: pointer;

  &.solved {
    background: #7FDBD0;
    border: 1px solid #7FDBD0;
  }
}

.btn-FA9B03-solid {
  @include span-btn;
  color: $C-FFF;
  padding: 0 p(10px);
  font-size: p(14px);
  line-height: p(34px);
  background-color: #F96A3F;
  border: 1px solid #F96A3F;

  &:hover {
    background-color: darken($C-FA9B03, 5%);
  }
}

.btn-00A088-empty {
  @include span-btn;
  color: $C-00A088;
  padding: 0 p(10px);
  font-size: p(14px);
  line-height: p(34px);
  background-color: $C-FFF;
  border: 1px solid $C-00A088;

  &:hover {
    color: $C-00A088;
    background-color: darken($C-FFF, 5%);
  }
}

.btn-delete-1 {
  color: $C-D80643;
  display: inline-block;
  padding: 0 p(42px);
  font-size: p(18px);
  text-align: center;
  line-height: p(46px);
  margin-right: p(28px);
  background-color: $C-FFF;
  border: 1px solid $C-D80643;
  border-radius: p(4px);

  &:hover {
    text-decoration: none;
    // font-weight: bold;
    background-color: darken($C-FFF, 5%);
    color: $C-D80643;
  }

  cursor: pointer;
}

.btn-query-1 {
  color: $C-F7F7F7;
  display: inline-block;
  padding: 0 p(27px);
  font-size: p(18px);
  text-align: center;
  line-height: p(46px);
  height: p(46px);
  margin-right: p(28px);
  background-color: $C-D80643;
  border: 1px solid $C-D80643;
  border-radius: p(4px);
  white-space: nowrap;

  &:hover {
    // text-decoration: underline;
    font-weight: bold;
    color: $C-F7F7F7;
  }

  cursor: pointer;
}

.btn-query-green {
  color: $C-FFF;
  display: inline-block;
  padding: 0 p(50px);
  font-size: p(18px);
  text-align: center;
  line-height: p(46px);
  height: p(46px);
  margin-right: p(28px);
  background-color: #00A088;
  border: 1px solid #00A088;
  border-radius: p(100px);
  white-space: nowrap;

  &:hover {
    background-color: darken(#00A088, 5%);
  }

  cursor: pointer;
}

//link
.a-link-00A088 {
  color: $C-00A088;
  font-size: p(18px);

  &:hover {
    text-decoration: underline;
    color: $C-00A088;
  }
}

//order
.order-00A088-1 {
  height: p(20px);
  display: inline-block;
  line-height: p(20px);
  text-align: center;
  width: p(20px);
  background: $C-00A088;
  color: $C-FFF;
  font-size: p(14px);
  border-radius: 50%;
}

.order-00A088-2 {
  height: p(30px);
  border: 1px solid $C-00A088;
  display: block;
  margin: 0 auto;
  line-height: p(30px);
  text-align: center;
  width: p(30px);
  background: $C-FFF;
  color: $C-00A088;
  font-size: p(18px);
  border-radius: 50%;
}

//table
.top {
  vertical-align: top;
}

//text-align
.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

//warp
.nowrap {
  white-space: nowrap;
}

.self-center {
  align-self: center;
}

//pagination

.pagination-wrapper {
  // bottom: p(40px);
  // left: 50%;
  // transform: translateX(-50%);
  margin: 30px auto 30px;
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    width: p(25px);
    height: p(25px);
    font-size: p(18px);
    margin: 0 p(12px);
    text-align: center;
    line-height: p(25px);
    border-radius: p(4px);
    color: #DEDEDE;

    &.active {
      background-color: $C-006858;
      color: $C-FFF;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      // font-weight: bold;
    }
  }

  &.with-label {
    display: flex;
    padding-right: p(120px);

    >ul {
      margin-left: p(20px);

      li {
        margin: 0 p(6px);
      }
    }
  }
}

//tabs

.tabs-style-tab {
  padding-top: p(5px);
  padding-left: p(20px);
  font-size: p(22px);

  >li {
    padding: p(30px) p(10px);
    display: inline-block;
    margin-right: p(30px);

    &.active {
      border-bottom: p(3px) solid $C-086B5E;

      >a {
        text-decoration: none;
        color: $C-086B5E;
      }
    }

    &:hover {
      border-bottom: p(3px) solid $C-086B5E;
      font-weight: bold;
      cursor: pointer;

      >a {
        color: $C-086B5E;
        text-decoration: none;
      }
    }

    >a {
      color: $C-666;

      &:hover {
        text-decoration: none;
        color: $C-086B5E;
      }
    }
  }
}

//hack :vertical align center
.vcenter {
  display: inline-block;
  vertical-align: middle;
  // float: none;
}

//select2
.select2-container .select2-selection--single {
  // width: p(500px) ;
  border: 1px solid $C-DEDEDE;
  height: p(48px);
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid $C-DEDEDE;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  // width: p(500px);
  height: p(48px);
  line-height: p(48px);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: p(48px);
}

//input
.checkbox {
  @include checkbox;
}


//navigation
.navigation {
  // display: flex;
  padding: p(40px) p(25px);
  align-items: center;
}

.navi-back {
  display: flex;
  align-items: center;
  padding-left: p(25px);
  border-bottom: p(5px) solid $bg-ground;

  >img {
    width: p(40px);
    height: p(40px);
  }

  >span,
  a {
    font-size: p(24px);
    color: $C-086B5E;
    margin-left: p(15px);
  }
}

//vertical align
.v-top {
  vertical-align: top;
}

.v-center {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

.crad-box {
  background-color: $C-FFF;
  cursor: pointer;
  padding: p(40px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.line-height-half-more {
  line-height: 1.5;
}

.line-height-two-more {
  line-height: 2;
}

.border-radius-round {
  border-radius: 50%;
}

.no-border {
  border: none !important;
}

.shadow {
  position: relative;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3),
    0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}

.shadow::after {
  right: 10px;
  left: auto;
  transform: rotate(3deg);
}