@import 'color.scss';

//header
header {
  box-sizing: border-box;
  background: $C-FFF;
  padding-left: p(85px);
  height: p(80px);
  display: flex;
  align-items: center;

  img {
    width: p(120px);
  }

  .nav {
    li {
      img {
        width: p(28px);
        height: p(28px);
        margin-right: p(5px);
      }

      >a {
        color: $C-707070;
        display: block;
        line-height: p(28px);

        >span {
          font-size: p(18px);
          vertical-align: middle;
        }
      }
    }


  }

  //hot fix 
  .nav {
    .dropdown-toggle {

      &:active,
      &:hover {
        .caret {
          border-top-color: $C-CECECE;
          border-bottom-color: $C-CECECE;
        }

      }

      .caret {
        border-top-color: $C-CECECE;
        border-bottom-color: $C-CECECE;
      }
    }

  }
}