@import 'color';
@import 'mixin';

@keyframes close {
  0% {
    left: 0;
  }

  100% {
    left: p(-280px);
  }
}

@keyframes open {
  0% {
    left: p(-280px);
  }

  100% {
    left: 0;
  }
}


.main-content {
  *:focus {
    outline: none;
  }

  overflow: hidden;
  flex: 1;
  flex: auto;
  position: relative;
  // margin-top: p(20px);
  // margin-left: p(20px);
  transition: all .5s;

  &.fix {
    width: p(1440px);
    margin: 0 auto;
    border: 1px dashed $C-DEDEDE;
    margin-top: p(10px);
    padding-bottom: p(30px);
    margin-bottom: p(50px);
    flex: none;
  }

  // &.open-sider {
  //   animation: close .5s alternate forwards;
  // }

  .welcome-box {
    height: p(75px);
    padding-left: p(15px);
    padding-right: p(30px);
    background: $C-FFF;
    display: flex;
    justify-content: space-between;
    color: #00a088;
    font-size: p(18px);

    // animation:
    >div {
      display: flex;
      align-items: center;

      &:first-of-type {
        img {
          width: p(24px);
        }
      }
    }

    img {
      margin-left: p(10px);
      margin-right: p(10px);
      width: p(40px);
    }

    input {
      width: p(616px);
      -webkit-appearance: none;
      -moz-appearance: none;

      &::placeholder {
        color: #CECECE;
        font-size: p(16px);
      }

      outline: 0;
      border-radius: 4px;
      box-shadow: none;
      border: none;
      border-radius: p(30px);
      position: relative;
      background: left p(10px) center no-repeat url("../icon/fangdajing.svg");
      background-size: p(20px);
      padding-left: p(40px);
      background-color: #F4F4F4;

      margin-left: p(40px);
      margin-right: p(20px);

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 100px;
        width: p(20px);
        height: p(20px);
        background: red;
        z-index: 100;
      }

      &:focus {
        border: none;
        // box-shadow: none;
      }

    }
  }
}

.control-bar {
  transition: all .5s;
  z-index: 20;
  height: p(64px);
  padding: 0 p(23px);
  background: #fff;
  box-shadow: 2px 2px 7px 2px #e3e3e3;
  width: 100%;

  img {
    width: p(24px);
  }

  >div {
    display: flex;
    align-items: center;
  }

  font-size: p(16px);

  .title {
    color: #333333;
    margin-right: p(18px);
    margin-left: p(8px);
  }

  .desc {
    color: #666;
    margin-right: p(5px);
  }

  .number {
    color: #00A088;
  }

  font-size: p(16px);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  min-height: 100%;
  height: 100%;

  label {
    margin: 0;
  }

  &.main-new {
    padding-bottom: p(50px);
  }

  .title {
    font-size: p(20px);
    font-weight: bold;
    color: #000;
    margin-bottom: p(23px);
  }

  .table-wrapper {
    height: 100%;
    position: relative;
    background: #fff;
    padding: p(10px);
    padding-bottom: p(110px);
  }

  table.process {
    @include table-white;

    th,
    td {
      text-align: left !important;

      &:first-of-type {
        padding-left: 10px;
      }
    }

    th {
      position: relative;

      &.down {
        cursor: pointer;

        &:after {

          content: "";
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 6px solid #999;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 4px;
        }
      }

      &.up {
        cursor: pointer;

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 6px solid #999;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 4px;
        }
      }
    }

    // td {
    //   text-align: left;
    // }
  }

  .form-wrapper {
    height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: p(20px) p(170px);

    .step-indicator {
      font-size: p(18px);
      margin-top: p(16px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      >hr {
        &:first-of-type {
          visibility: hidden;
        }

        display: flex;
        flex: 1;
        margin-bottom: p(60px);
      }

      >div {
        cursor: pointer;

        &.active {
          span {
            color: #00a088;
          }
        }

        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        >img {
          height: p(94px);
          // width: p(94px);
        }

        span {
          text-align: center;
        }

        // width: p(94px);

      }
    }

    .summary {
      display: flex;
      justify-content: space-between;
      background: #F2FAF9;
      height: p(90px);
      padding: p(12px) p(20px);
      margin-top: p(16px);
      border-radius: p(5px);

      >div {
        display: flex;
        justify-content: space-between;

        &:last-of-type {

          // padding-right: p(80px);
          >div:last-of-type {
            width: p(120px);

            span {
              color: #333333;
            }
          }
        }

        >div {
          border-left: 1px dashed #DEDEDE;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: p(8.5px);
          width: p(188px);

          p {
            color: #006858;
            font-size: p(20px);
          }

          span {
            color: #999999;
            font-size: p(16px);
          }
        }
      }
    }

    .delete-group {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: p(31px);
        color: #D90D48;
      }

      span {
        margin: auto 10px;
      }
    }



    .mission-btn-box {
      display: flex;
      justify-content: center;
    }
  }

  .task-tag {
    display: inline-block;
    width: p(24px);
    height: p(24px);
    line-height: p(24px);
    font-size: p(14px);
    background: #00A088;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-style: normal;
  }

  .task-label {
    position: absolute;
    left: p(-140px);
    top: 50%;
    transform: translateY(-50%);

    span {
      display: inline-block;
      width: p(67px);
      line-height: p(25px);
      font-size: p(14px);
      background: #00A088;
      border-radius: p(10px);
      text-align: center;
      color: #fff;
      margin-right: p(5px);
    }

    img {
      width: p(10px);
    }
  }
}

.blocker {
  %btnbox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: p(24px);
    height: p(40px);

    .btn-submit.disable {
      background: #82CFC3;
      border: none;
    }
  }

  .error-box {
    position: relative;
    background: $C-FFF;
    border-radius: 5px;
    height: p(240px);
    width: p(436px);
    padding: p(22px) p(75px);

    .title {
      font-size: p(24px);
      color: #006858;
    }

    .content {
      text-align: center;
      color: #333333;
      font-size: p(18px);
      margin-top: p(20px);
      margin-bottom: p(30px);
    }

  }

  .select-project-box {
    position: relative;
    border-radius: 5px;
    width: p(936px);
    height: p(720px);
    padding: p(22px) p(60px);
    padding-bottom: p(64px);

    .c-button--dropdown,
    .c-dropdown__item {
      color: #666;

    }

    .form-item {
      >span:nth-of-type(1) {
        width: auto;
      }
    }

    >.close-circle {
      width: p(30px);
      height: p(30px);
    }

    input,
    .c-dropdown {
      margin-left: p(16px);
    }

    .title {
      font-size: p(24px);
      color: #00A088;
    }

    .btn-box {
      @extend %btnbox;
    }

    .project-list {
      height: p(400px);
      overflow-y: auto;
      overflow-x: hidden;

      li {
        display: flex;
        align-items: center;
        height: p(50px);
        padding: 0 7px;
        border-radius: 5px;
        line-height: p(50px);
        cursor: pointer;
        color: #666666;

        >input[type=radio] {
          margin: 0;
          margin-right: p(16px);
        }

        &:hover,
        &.selected {
          background: #F4F4F4;
          color: #00A088;

          .radio-beauty {
            padding: 2px;
            background-color: green;
            background-clip: content-box;
          }
        }


      }



    }
  }

  .select-executive-box {
    width: p(436px);
    height: p(448px);
    padding: p(20px) p(55px);
    border-radius: 5px;

    .close-circle {
      width: p(22px);
      height: p(22px);
    }

    >.title {
      font-size: p(24px);
      color: #006858;
      margin-bottom: p(15px);
    }

    .name-list {
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      border-top: 1px dashed #F4F4F4;
      max-height: p(250px);
      justify-content: space-between;
      color: #666666;
      padding-top: 7px;

      >div {
        width: 48.717948717948715%;
        margin: p(10px) 0;
        text-align: left;

        >* {
          vertical-align: middle;
        }

      }

      .radio-beauty {
        margin: 0;
      }

      .name-label {
        font-size: p(18px);
      }

      .name-type {
        font-size: p(12px);
        border-radius: 2px;
        padding: 2px;
        transform: scale(.7);
        font-weight: bold;
      }

      .name-type-1 {
        background: #00A088;
        color: #fff;
      }

      .name-type-2 {
        background: #0D5C4F;
        color: #fff;
      }

      .name-type-3 {
        background: #FFF;
        color: #FFCC00;
        border: 1px solid #FFCC00;
      }

      .name-type-4 {
        background: #FFF;
        color: #BFE8FF;
        border: 1px solid #BFE8FF;
      }
    }

    .selected {
      display: flex;
      flex-wrap: wrap;
      font-size: p(14px);
      padding-bottom: 3px;

      .title {
        color: #999999;
      }

      >span:not(:first-of-type) {
        // transition: all .2s;
        color: #333333;
        margin-left: p(10px);
      }
    }

    .btn-box {
      @extend %btnbox;
    }
  }

  .plan-confirm-box {
    width: p(854px);
    padding: p(20px) p(17px);
    border-radius: 5px;


    >.title {
      font-size: p(24px);
      color: #006858;
      margin-bottom: p(20px);
    }

    .close-circle {
      width: p(30px);
      height: p(30px);
    }

    table {
      @include table-white;

      thead {
        background: #F2FAF9;

        color: #00A088;

        th {
          font-weight: normal;
        }
      }
    }
  }
}